<!--<div>
    <h1 ng-repeat="name in $ctrl.students" ng-class="{ present: student.present }" ng-click="$ctrl.togglePresent(student)">{{student.name}}</h1>
    <input type="text" ng-model="$ctrl.newName" />
    <button ng-click="$ctrl.addName()">submit</button>
</div>
    {{$ctrl.myName}}
    <p ng-repeat="member in $ctrl.band">{{member}}</p>
    <ul>
        <li ng-repeat=" band in $ctrl.band">{{band.name}} plays {{band.instrument}}</li>
    </ul>
    <h1>My First Angular Component</h1> 
    <input type="text" placeholder="enter something" / ng-model="$ctrl.me.name">
    <h1>{{$ctrl.me.name}}</h1>
    <button ng-click="$ctrl.changeName('Cary')">submit</button>
</div> -->

<div>
   <div ng-repeat='name in $ctrl.familyMembers'>
       {{name.name}}
       {{name.relation}}
       {{name.age}}
   </div>
    
</div>